/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

.bg-img {
    background-image: url("./src/test.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 90%;
    background-color: black;
}

.opacity {
    opacity: 77%;
}

.rounded {
    border-radius: 10px;
}

.navbar-item-logo {
    background: url('./src/logo.webp') no-repeat center center;
    background-size: cover;
    width: 169px;
    /* height: 10vh; */
    margin: 5px;
}

.footer {
    background-color: black;
    color: false;
    padding: 2rem 1.5rem 1.5rem;
    opacity: 95%;
   }